<?xml version="1.0" encoding="UTF-8"?>
<OX>
  <OXMENU id="NAVIGATION_ESHOPADMIN">
    <MAINMENU id="libresk_tools">
      <SUBMENU id="libresk_e_kio_sk_menu" cl="libresk_ekiosk" rights="malladmin" />
      <SUBMENU id="libresk_e_nakupovanie_sk_menu" cl="libresk_enakupovaniesk" rights="malladmin" />
      <SUBMENU id="libresk_heureka_sk_menu" cl="libresk_heurekask" rights="malladmin" />
      <SUBMENU id="libresk_najdicenu_sk_menu" cl="libresk_najdicenusk" rights="malladmin" />
      <SUBMENU id="libresk_najnakup_sk_menu" cl="libresk_najnakupsk" rights="malladmin" />
      <SUBMENU id="libresk_pricemania_sk_menu" cl="libresk_pricemaniask" rights="malladmin" />
      <SUBMENU id="libresk_srovname_sk_menu" cl="libresk_srovnamesk" rights="malladmin" />
      <SUBMENU id="libresk_superdeal_sk_menu" cl="libresk_superdealsk" rights="malladmin" />
      <SUBMENU id="libresk_tovar_sk_menu" cl="libresk_tovarsk" rights="malladmin" />
      <SUBMENU id="libresk_webshopy_sk_menu" cl="libresk_webshopysk" rights="malladmin" />
    </MAINMENU>
  </OXMENU>
</OX>
